﻿
@{
    Layout = null;
}
@using  URL_shortener.Models;
@model List<Url>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/jquery-3.3.1.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <link href="~/css/datatables.min.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/js/datatables.min.js"></script>

</head>
<body>
    <table id="UrlsTable">
        <thead>
            <tr>
                <td>Длинный URL</td>
                <td>Сокращенный URL</td>
                <td>Дата создания</td>
                <td>Количество переходов</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var ThisUrl = item as URL_shortener.Models.Url;
                <tr>
                    <td><a>@ThisUrl.FullUrl</a></td>
                    <td><a>@ThisUrl.ShortUrl</a></td>
                    <td>@ThisUrl.DateOfCreation.ToString()</td>
                    <td>@ThisUrl.PassCount</td>
                    <td>@Html.ActionLink("Изменить","Edit", "Urls", new { id = ThisUrl.ID }, new { @class = "viewDialog", data_dialog_title = "Редактирование Url'a" })</td>
                    <td>@Html.ActionLink("Удалить", "Delete", "Urls", new { id = ThisUrl.ID }, new { @class = "viewDialog", data_dialog_title = "Вы уверены?" })</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.ActionLink("Создать", "New", "Urls", new { } , new { @class = "viewDialog", data_dialog_title = "Создание ссылки" })
    
    <script type="text/javascript">
        $(document).ready(function () {
            $('#UrlsTable').DataTable();
            $.ajaxSetup({ cache: false });
            $(".viewDialog").on("click", function (e) {
                e.preventDefault();

                $("<div></div>")
                    .addClass("dialog")
                    .appendTo("body")
                    .dialog({
                        title: $(this).attr("data-dialog-title"),
                        close: function () { $(this).remove() },
                        modal: true
                    })
                    .load(this.href);
            });
        });
        
    </script>

</body>
</html>
