﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model URL_shortener.Models.Url
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div>
                @Html.LabelFor(model=>model.FullUrl)
                <p>@Html.EditorFor(model=>model.FullUrl)</p>
            </div>
            <p><input type="submit" value="Создать"/></p>
        }
    </div>